@charset "UTF-8";
#wrap {
  width: 100%;
  height: 100%;
}
#wrap #main {
  width: 100%;
  height: 100%;
  background: #999;
  padding: 6.831% 0;
  max-width: 390px;
  margin: 0 auto;
}
#wrap #main .container {
  width: 100%;
}
#wrap #main .container .gap {
  margin: 0;
}
#wrap #main .container .gap .wrap {
  width: 100%;
}
#wrap #main .container .gap .wrap .content {
  z-index: 3;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
#wrap #main .container .gap .wrap .content > ul {
  max-width: 390px;
  height: 100%;
  display: flex;
}
#wrap #main .container .gap .wrap .content > ul > li {
  padding: 10px;
  box-sizing: border-box;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap {
  margin: 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap > li {
  width: 33.33%;
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  transition: all 0.5s;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap > li img {
  width: 30px;
  opacity: 0.6; /*투명도를 낮춰서 비활성화*/
  transform: scale(0.8); /*축소시켜서 비솰성화*/
  transition: opacity 1s, transform 1s; /* 7단계 */
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap {
  width: 210px;
  background: #fff;
  position: relative;
  height: 220px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul {
  position: relative;
  padding: 0px 10px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li {
  padding: 10px 0;
  text-align: center;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li a {
  position: relative;
  display: block;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li a img {
  width: 30px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li > img {
  width: 90px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li h4 {
  font-family: "Anton", sans-serif;
  font-size: 16px;
  color: gray;
  font-weight: 500;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li p {
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
  color: #939393;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul a img {
  width: 30px;
}
#wrap #main .container .gap .wrap .pager {
  z-index: 3;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background: #9c9;
}
#wrap #main .container .gap .wrap .pager button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
#wrap #main .container .gap .wrap .pager button.on {
  background-color: red;
}

@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}