#wrap {
  width: 100%;
  height: 100%;
}
#wrap #main {
  width: 100%;
  height: 100%;
  background: #999;
  padding: 6.831% 0;
  max-width: 390px;
  margin: 0 auto;
}
#wrap #main .container {
  width: 100%;
}
#wrap #main .container .gap {
  margin: 0;
}
#wrap #main .container .gap .wrap {
  width: 100%;
  /* height: 100%; */
}
#wrap #main .container .gap .wrap .moon {
  /* height: 100%; */
  /* width: 100%; */
  margin: 0 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
#wrap #main .container .gap .wrap .moon > ul {
  width: 100%;
  display: flex;
  position: relative;
  padding: 50px 35px;
  background: transparent;
}
#wrap #main .container .gap .wrap .moon > ul > li {
  width: 33.33%;
  padding: 15px 0;
  text-align: center;
}
#wrap #main .container .gap .wrap .moon > ul > li > img {
  width: 30px;
}
#wrap #main .container .gap .wrap .content {
  z-index: 3;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
#wrap #main .container .gap .wrap .content > ul {
  max-width: 390px;
  height: 100%;
  display: flex;
}
#wrap #main .container .gap .wrap .content > ul > li {
  padding: 10px;
  box-sizing: border-box;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap {
  margin: 0 20px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap {
  width: 100%;
  background: #fff;
  position: relative;
  height: 100%;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap::after {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2;
  background: #999;
  transition: all 0.15s ease-in-out;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul {
  position: relative;
  padding: 0px 10px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li {
  padding: 10px 0;
  text-align: center;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li > img {
  width: 50px;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li h4 {
  font-family: "Anton", sans-serif;
  font-size: 16px;
  color: gray;
  font-weight: 500;
}
#wrap #main .container .gap .wrap .content > ul > li .col-gap .col-wrap > ul > li p {
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
  color: #939393;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
}